---
layout: default
---

<main class="bg-purple header" role="main">
  <header class="container-lg p-responsive">
    {% include header.html %}
    <div class="pb-6 d-flex flex-items-center flex-justify-center flex-column">
      <div class="umbrella-wrapper mb-2">
        {% include field-day-logo.svg %}
      </div>
    </div>
  </header>
  {% include squiggle-white.svg %}
</main>

<div class="container-md p-responsive py-6 d-flex flex-items-center flex-justify-center flex-column mb-2">
  <h2 class="alt-h2 lh-condensed my-3 text-center">An unconference for leaders of technical student communities</h2>
  <p class="py-2 text-center"><strong>18th of November</strong> at Monzo HQ</p>
  <a href="https://www.eventbrite.co.uk/e/github-field-day-london-tickets-39191659308" class="btn btn-outline-purple">Register now</a>
</div>

<div class="event-imgs">
      <div>
        <img class="border-radius" src="./assets/1.png" />
        <img class="border-radius" src="./assets/2.png" />
      </div>
      <div>
        <img class="border-radius" src="./assets/3.png" />
        <img class="border-radius" src="./assets/4.png" />
      </div>
  </div>

<div class="container-md mb-6 p-responsive text-center py-6 d-flex flex-items-center flex-justify-center flex-column">
  <h2 class="alt-h2 lh-condensed mb-3 text-center">A day of discussions</h2>
  <p class="alt-h3 mb-3 text-center">Field Day brings together a group of student leaders for a day of conversation in the form of lightning talks, discussions, games, or whatever suits the topic best.</p>
</div>

<div class="container-lg mx-auto mb-6 p-responsive py-6 gutter d-block d-sm-flex flex-wrap flex-items-center">
  <div class="col-6 mx-auto mx-sm-0 mb-4 mb-sm-0 col-sm-5">
    <div class="keynote-img">
      <img class="border-radius" src="{{ site.baseurl }}/assets/louise.jpg" alt="Louise Deason">
    </div>
  </div>
  <div class="col-12 col-sm-7 text-center text-sm-left">
    <h4 class="alt-h4">Keynote</h2>
    <h2 class="alt-h2 lh-condensed mb-3">3 Rules for Building and Running a Community</h2>
    <p>Louise Deason is a board member of DevelopHer, a community dedicated to bringing women in technology together to create both opportunities and a network of support. When not working on DevelopHer, Louise can be found at DeepMind and occasionally on cinema screens.</p>
  </div>
</div>

<div class="container-md p-responsive py-6" id="schedule">
  <h1 class="text-center">Schedule</h1>

  <table class="data-table">
    <tbody>
      <tr><td><time>08:00</time></td><td>Registration Opens & Breakfast</td></tr>
      <tr><td><time>09:00</time></td><td>Welcome to Field Day</td></tr>
      <tr><td><time>10:00</time></td><td>Icebreaker to get to know each other</td></tr>
      <tr><td><time>11:00</time></td><td>Breakout Discussions I</td></tr>
      <tr><td><time>11:30</time></td><td>Breakout Discussions II</td></tr>
      <tr><td><time>12:00</time></td><td>Lunch</td></tr>
      <tr><td><time>13:30</time></td><td>Campus Experts Fireside Chat</td></tr>
      <tr><td><time>14:15</time></td><td>Breakout Discussions III</td></tr>
      <tr><td><time>14:45</time></td><td>Breakout Discussions IV</td></tr>
      <tr><td><time>15:15</time></td><td>Break</td></tr>
      <tr><td><time>16:30</time></td><td>Breakout Discussions V</td></tr>
      <tr><td><time>17:00</time></td><td>Breakout Discussions VI</td></tr>
      <tr><td><time>17:30</time></td><td>Feedback Round</td></tr>
      <tr><td><time>17:55</time></td><td>Closing Remarks</td></tr>
      <tr><td><time>18:00</time></td><td>Dinner</td></tr>
    </tbody>
  </table>
</div>

<div class="container-lg mb-6 p-responsive py-6 d-flex flex-items-center flex-sm-justify-between flex-justify-center text-center text-sm-left" id="venue">
  <address class="addr mono">
    <h2 class="alt-h2 lh-condensed mb-2">Monzo HQ</h3>
    230 City Road</br>
    London, EC1Y 1BE
  </address>
  <div class="map-container">
    <iframe
      width="600"
      height="450"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBDS02MdHUUV8zVPriYlLsYIK4CvIoUcq8&q=230+City+Rd,+London+EC1Y+1BE" allowfullscreen>
    </iframe>
  </div>
</div>

<div class="py-6 p-responsive mt-2 bg-gray-light" id="faq">
  <div class="container-md">
    <h3 class="text-center">FAQ</h3>

    {% for faq in site.faqs %}
      <div class="py-3" id="{{ faq.q | slugify }}">
        <h4 class="mb-1"><a href="#{{ faq.q | slugify }}" class="text-purple">{{faq.q}}</a></h4>
        <p>{{ faq.a }}</p>
      </div>
    {% endfor %}

  </div>
</div>
